.Container {
    width: 30vw;
    border: 2px solid #0000008b;
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
}

@media (max-width: 576px) {
	.Container {
        width: 75vw;
        font-size: 0.8em;
    }
}