.Card:hover {
    transition: 0.3s;
	border: 1px solid #f8c133;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.Heading {
    margin: 0;
    color: #4682B4;
}

.HeadIcons i {
    font-size: 1.5em;
}

.Bronze {
	color: #cd7f32;
}
