.Btn {
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Btn:hover {
    color: #ffffff;
}

.BackBtn {
    width: 40px;
    height: 40px;
    color: #000000;
    padding: 0;
    background-color: #f5f5f5;
    border: 2px solid #000000;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.BackBtn:hover {
    background-color: #7a8d9d;
    transition: 0.3s ease-in-out;
    border-color: #444444;
}

.Wide {
    display: block;
    width: 100%;
}

.PostBtn {
    font-size: 1.3em;
    font-weight: 700;
    height: 50px;
    width: 50px;
    border: 2px solid #000000;
    border-radius: 50%;
    margin: 0;
    padding: 0;
}

.CreateBtn {
    width: 50px;
    height: 50px;
    border: 2px solid #000000;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media (max-width: 768px) {
    .PostBtn {
        height: 40px;
        width: 40px;
    }

    .CreateBtn {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 576px) {
    .BackBtn {
        width: 30px;
        height: 30px;
        padding: 0;
    }
}
