.CompanyListWrapper {
    margin-top: 20px;
    padding: 10px;
    max-height: 500px;
    overflow-y: auto;
    background-color: #f5f5f5;
}

.EmployeeList {
    list-style-type: none;
}

.Heading {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.ListCompany {
    cursor: pointer;
    border-top: 1px solid #4682B4;
}

.ListCompany:hover {
    color: #4682B4
}

@media (max-width: 767px) {
    .CompanyListWrapper {
        margin-top: 0;
        background-color: #f8c133;
        max-height: 300px;
    }

    .ListCompany {
        cursor: pointer;
        border-top: 1px solid #00000038;
    }

    .Heading {
        font-size: 1.2em;
    }
}