.CompanyListWrapper {
    margin-top: 20px;
    padding: 10px;
    max-height: 500px;
    overflow-y: auto;
    background-color: #f5f5f5;
}

.EmployeeList {
    list-style-type: none;
}

.Heading {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.ListCompany {
    cursor: pointer;
}

.ListCompany:hover {
    color: #4682B4
}