.Header {
  justify-content: space-evenly;
  padding: 0 5px 0 5px;
  background-color: #ffffff;
}

.HeaderTab {
  font-size: 1.2em;
  padding: 10px 0;
  width: 25%;
  text-align: center;
  border-bottom: 1px solid #9d9d9d;
}

.HeaderTab span {
  margin-left: 5px;
}

.Active {
  background-color: #f8f8f8;
  border: 2px solid #9d9d9d;
  border-radius: 5px 5px 0 0;
  border-bottom: transparent;
}

@media (max-width: 576px) {
  .TabName {
    display: none;
  }
}
