.NavBar {
    background-color: #ffffff;
    padding: 10px 20px;
}

.Link {
    font-size: 1.3em;
    margin: auto 10px;
}

.Active {
    color: #f8c133;
}

@media (max-width: 768px) {

    .Link {
        margin-top: 10px;
    }

    .buttonStyle {
        width: max-content;
        margin-left: auto;
    }
}

@media (max-width: 435px) {

    .NavBar {
        justify-content: center;
    }

    .Logo img {
        height: 50px;
    }
}