.NavBar {
    background-color: #ffffff;
    border-bottom: 1px solid #d9d9d9;
}

.Link {
    font-size: 1.3em;
    margin: auto 10px;
}

.Active {
    color: #f8c133;
}

@media (max-width: 768px) {

    .Link {
        margin-top: 10px;
    }

    .buttonStyle {
        width: max-content;
        margin-left: auto;
    }
}