.NavBar {
    background-color: #ffffff;
    padding: 10px 20px;
}

.NavBtn {
    font-weight: normal;
}

.Link {
    font-size: 1.3em;
    margin: auto 10px;
}

.CreatePostBtn i {
    padding-left: 8px;
}

.UserDropdown {
    font-size: 1.3em;
    color: #000000;
}

.ProfileToggler {
    border: none;
}

.dropdown-menu {
    text-align: center;
}

.Active {
    color: #f8c133;
}

@media (max-width: 768px) {

    .Link {
        margin-top: 10px;
    }

    .NavBtn {
        width: max-content;
        margin-left: auto;
    }
}

@media (max-width: 435px) {

    .NavBar {
        justify-content: center;
    }

}