.NavBar {
	background-color: #f5f5f5;
	padding: 10px 20px;
}

.LogoContainer {
	padding: 0;
}

.Logo {
	height: 60px;
    width: auto;
}

.Icon {
	display: none;
}

.NavBtn {
	font-weight: 700;
}

.NavBtn i {
	padding-right: 5px;
}

.Links {
	font-size: 1.3em;
	margin: 5px;
}

.Dropdown a,
.Dropdown p {
	text-align: right;
	font-size: 1.2em;
	color: #000000;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.Dropdown a:hover {
	color: #f8c133;
}

.Active {
	color: #000000b0;
}

@media (max-width: 768px) {
	.NavBtn {
		width: max-content;
		margin-left: auto;
	}
}

@media (max-width: 576px) {
	.Logo {
		height: 40px;
	}
}

@media (max-width: 576px) {
	.Logo {
		display: none;
	}
	.Icon {
		display: block;
	}
}
