.NavBar {
  background-color: #f5f5f5;
  padding: 10px 20px;
}

.Logo {
  height: 60px;
}

.Icon {
  display: none;
}

.NavBtn {
  font-weight: normal;
}

.NavCtrls {
  display: inline-flex;
  align-items: center;
  margin-left: auto;
}

.Link {
  font-size: 1.3em;
  margin: auto 10px;
}

.UserDropdown {
  font-size: 1.3em;
  text-align: right;
  color: #000000;
}

.ProfileToggler {
  border: none;
  padding: 0 10px 0 0;
}

.dropdown-menu {
  text-align: center;
}

.Active {
  color: #f8c133;
}

@media (max-width: 768px) {
  .NavBtn {
    width: max-content;
    margin-left: auto;
  }
}

@media (max-width: 576px) {
  .NavBar {
    padding: 10px;
  }

  .Logo {
    height: 40px;
  }

  .Link {
    margin: 0;
  }
}

@media (max-width: 435px) {
  .NavBar {
    justify-content: center;
  }
}

@media (max-width: 375px) {
  .Logo {
    display: none;
  }
  .Icon {
    display: block;
    height: 60px;
  }
}
