.Author {
  display: flex;
  align-items: center;
}

.Settings {
    margin: 0 20px;
}

.Description {
  margin: 10px;
  font-size: 1.2em;
}

.Controls {
    display: flex;
    align-items: center;
}

.Controls, .Settings {
  font-size: 1.5em;
}

.Controls i {
  margin: 0 5px;
}

.Count {
    color: #5b5b5b80;
    font-size: 0.8em;
}

.LikeIcon:hover {
    color: #f8c133;
    cursor: pointer;
}

.CommentIcon {
  margin-right: 10px;
}
