.Author {
	display: flex;
	align-items: center;
}

.Settings {
	margin-right: 20px;
}

.Job {
    color: #4b759a;
}

.Description {
	margin: 10px;
	font-size: 1.2em;
}

.Img {
    max-height: 525px;
    max-width: fit-content;
    object-fit: contain;
    border-radius: 0;
}

.Controls {
	display: flex;
	align-items: center;
}

.Controls,
.Settings {
	font-size: 1.5em;
}

.Controls i {
	margin: 0 5px;
}

.Count {
	color: rgb(91, 91, 91);
	font-size: 0.8em;
    font-weight: 700;
}

.LikeIcon:hover {
	color: #f8c133;
	cursor: pointer;
}

.CommentIcon {
	margin-right: 10px;
}
