.PersonalInfo i {
	margin-right: 5px;
}

.PersonalInfo h2,
.PersonalInfo h3 {
    font-size: 1.5em;
}

.UnfollowBtn {
    background-color: #ffffff;
}

@media (max-width: 576px) {
	.Avatar {
		margin-bottom: 10px;
	}

    .Joined {
        font-size: 0.8em;
    }
}
