.PersonalInfo i {
	margin-right: 5px;
}

.UnfollowBtn {
    background-color: #ffffff;
}

@media (max-width: 576px) {
	.Avatar {
		margin-bottom: 10px;
	}

    .Joined {
        font-size: 0.8em;
    }
}
