.FormWrapper {
    border: 1px solid #757575;
    border-radius: 5px;
    margin-top: 10px;
    background-color: #ffffff;
    height: fit-content;
}

.Heading {
    font-weight: 700;
}

.Input {
    text-align: center;
    background: #ffffff;
    border: 1px solid #cccccc;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    color: #000000;
}

.LoginLink {
    color: #ffc422;
}