.FormWrapper {
    border: 1px solid #757575;
    border-radius: 5px;
    margin-top: 10px;
    background-color: #ffffff;
}

.Heading {
    font-weight: 700;
}

.Input {
    text-align: center;
    background: #ffffff;
    border: 1px solid #cccccc;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    color: #000000;
}

.LoginLink {
    color: #ffc422;
}

@media (max-width: 576px) {

    .FormWrapper {
        border-radius: 0;
        border-left: 0;
        border-right: 0;
    }
}