.ImgContainer {
    display: flex;
	align-items: center;
	justify-content: center;
}

.Image {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border: 2px solid #4682B4;
    border-radius: 50%;
}

@media (max-width: 576px) {
    .Image {
        width: 200px;
        height: 200px;
    }
}