.App {
    font-family: 'Titillium Web', sans-serif;
    background-color: #f8f8f8;
    min-height: 100vh;
}

a {
    color: #000000;
    transition: color ease-in-out 0.2s;
}

a:hover {
    text-decoration: none;
    color: #f8c133;
}

.Content {
    background-color: #f3f3f3;
    padding: 10px;
    border: 1px solid #4682B4;
}