* {
	box-sizing: border-box;
}

.App {
	font-family: "Titillium Web", sans-serif;
	background-color: #7a8d9d;
	min-height: 100vh;
	position: relative;
}

.MainContainer {
	display: flex;
	justify-content: center;
}

a {
	color: #000000;
	transition: color ease-in-out 0.2s;
}

a:hover {
	text-decoration: none;
	color: #f8c133;
}

.hoverDark:hover {
    color: #0000009e
}

.hoverLight:hover {
    color: #000000;
}

.Content {
	background-color: #ffffff;
	border: 1px solid #000000;
	border-radius: 5px;
}

h1 {
	font-size: 1.5em;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0;
}

.Pointer:hover {
    cursor: pointer;
    color: #f8c133;
}

@media (max-width: 576px) {
	.MainContainer {
		padding: 0;
	}
}
